<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:task="http://www.springframework.org/schema/task"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
  default-lazy-init="true">

  <context:component-scan base-package="xyz.quxiao.playwith.spring"/>
  <task:annotation-driven scheduler="taskScheduler"/>
  <task:scheduler id="taskScheduler" pool-size="4"/>
  <bean id="businessService" class="xyz.quxiao.playwith.spring.aop.BusinessService"/>
  <bean id="businessAspect" class="xyz.quxiao.playwith.spring.aop.BusinessAspect"/>
  <aop:config>
    <aop:pointcut id="pointcut" expression="execution(* doBusiness())"/>
    <aop:aspect ref="businessAspect">
      <aop:before method="doBefore" pointcut-ref="pointcut"/>
      <aop:after method="doAfter" pointcut-ref="pointcut"/>
    </aop:aspect>
  </aop:config>
</beans>