<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
  <Properties>
    <Property name="project_name">playwith-spring</Property>
  </Properties>
  <appenders>
    <RollingFile name="RollingFile" fileName="${LOG_HOME:-/data/logs}/${project_name}/app.log"
      filePattern="${LOG_HOME:-/data/logs}/${project_name}/app.%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <Pattern>[%d][%t][%level][%l] - [TxId : %X{PtxId} , SpanId : %X{PspanId}] - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true"
          interval="1" />
      </Policies>
    </RollingFile>

    <Appenders>
      <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      </Console>
    </Appenders>
  </appenders>
  <loggers>
    <logger name="com.alibaba.dubbo" level="info" additivity="false">
      <appender-ref ref="RollingFile" />
    </logger>
    <root level="info">
      <appender-ref ref="RollingFile" />
      <appender-ref ref="SYSTEM_OUT" />
    </root>
  </loggers>
</configuration>