<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
  <Properties>
    <Property name="project_name">playwith-spring</Property>
  </Properties>
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </appenders>

  <loggers>
    <logger name="com.alibaba.dubbo" level="info">
    </logger>
    <root level="trace">
      <appender-ref ref="Console"/>
    </root>
  </loggers>
</configuration>